body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
    width: 1200px;
}

/* header  */
header {
    background-color: #255EE9;
}

nav {
    height: 50px;
    padding: 10px 0;}

#jumbo-line {
    background-image: url(../img/jumbo.png);
    background-size:cover;
}
#jumbo {   
    width: 600px;
    height: 400px;
}
#corpo-testo {margin: 30px 0;}
.bottone {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
}

#download:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "";
    background: url(../img/down-long.svg);
    background-repeat: no-repeat;
}
/* righe  */

.reverse{flex-direction: row-reverse;}
.blu {background-color: #0f0f8a;}
.white {background-color: white;}
.grey {background-color: #d3d3d3;}

/* elementi */

.text-rect{    width: calc(90%/3);}

.pic-rect img {    width: 100%; }

.pic-rect{  width: calc((90%/3)*2); }
.gr-rect img { width: 100%; }

/* footer */
footer {background-color: #24272a;
}

.small-rect {
    width: calc(60%/4);
}
.double-small-rect {
    width: 25%;
}

/* barra finale */
.bottoni {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #94fdd4;
    margin-top: 16px;
}

.double-small-rect img {
    height: 14px;
    fill: white;
}
